---
import menu from "@assets/icons/car/menu2.svg";
import { Image } from "astro:assets";
import DownArrow from "@assets/icons/car/DownArrow.astro";
import Menu from "@assets/icons/car/Menu.astro";
---

<main class="bg-white rounded-md hidden md:flex w-full">
  <div class="p-4 flex flex-row justify-between items-center w-full">
    <section>
      <span class="flex flex-row gap-2 text-lg">
        Ordenar por: Menor precio <DownArrow />
      </span>
    </section>
    <aside class="flex flex-row gap-2 items-center">
      <Image src={menu} alt="Menu icon" class="cursor-pointer" />
      <Menu />
    </aside>
  </div>
</main>
