---
import IntroContent from "./IntroContent.astro";
import Grid4S from "@components/common/Grid4S.astro";
import MainCard from "./MainCard";
---

<div class="flex flex-col">
  <div>
    <IntroContent />
  </div>
  <Grid4S>
    <MainCard client:load />
  </Grid4S>
</div>
