---
import Layout from "@layouts/Layout.astro";
import Container from "@components/common/Container.astro";
---

<Layout title="Comprar auto parte">
  <Container>
    <h1>Comprar autopartes</h1>
  </Container>
</Layout>
