---
import Layout from "@layouts/Layout.astro";
import Container from "@components/common/Container.astro";
---

<Layout title="Confirmar compra">
  <Container>
    <h1>Confirmar compra</h1>
  </Container>
</Layout>
