---
import Layout from "@layouts/Layout.astro";
import Container from "@components/common/Container.astro";
---

<Layout title="Home page">
  <Container>
    <main class="">
      <h1 class="text-black text-4xl">Home page</h1>
    </main>
  </Container>
</Layout>
