---
import { Image } from "astro:assets";
import BannerImg from "@assets/images/Banner.webp";
---

<section class="w-full sm:flex">
  <Image
    src={BannerImg}
    alt={"Banner Descuento"}
    loading={"eager"}
    format={"avif"}
    class={"w-full h-auto"}
  />
</section>
