---
import { Image } from "astro:assets";
import Banner from "@assets/images/Bann.webp";
---

<section class="w-full sm:flex">
  <Image
    src={Banner}
    alt={"Banner Descuento"}
    loading={"eager"}
    format={"avif"}
    class={"w-full h-auto"}
  />
</section>
