---
import Shopping from "@assets/icons/registrar/Shopping.astro";
import Bell from "@assets/icons/registrar/Bell.astro";
import SearchIcon from "@assets/icons/registrar/SearchIcon.astro";
import Container from "./common/Container.astro";
import Profile from "@assets/images/nav/profile.svg";
import Message from "@assets/icons/registrar/Message.astro";
import { Image } from "astro:assets";
import Ford from "@assets/icons/nav/carrito.svg";
import Menu from "@assets/icons/car/Menu.astro";
const navOptions = [
  "Categorías",
  "Ofertas",
  "Tiendas oficiales",
  "Vender",
  "Marcas",
];
const { pathname } = Astro.url;
---

<nav class="bg-primary h-auto md:h-[136px]">
  <Container className="flex flex-col justify-between py-4 flex-wrap ">
    <section
      class="flex justify-between items-center mb-2 w-full place-content-center flex-row"
    >
      <div class="items-center md:hidden inline-flex">
        <Menu />
      </div>
      <div class="flex items-center space-x-4 w-full lg:w-2/3">
        {
          pathname === "/registrar" ? (
            <span class="uppercase font-extrabold text-3xl font-montserrat">
              Logo
            </span>
          ) : (
            <a
              aria-label=" Home button"
              class="font-bold text-2xl hidden sm:inline font-montserrat"
              href="/home"
            >
              LOGO
            </a>
          )
        }

        <div class="relative w-full sm:w-auto flex-grow sm:flex-grow-0">
          <input
            placeholder="Bujía Mazda 3 de 2015"
            type="search"
            class="px-4 py-4 rounded-full md:rounded-lg md:w-96 pl-8 w-fit"
          />
          <div
            class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none"
          >
            <SearchIcon />
          </div>
        </div>
        {
          pathname === "/home" || pathname === "/registrar" ? (
            <a
              href="/car"
              aria-label="Return button"
              class="bg-white text-black px-6 py-4 rounded hidden sm:inline"
            >
              Registra tu auto
            </a>
          ) : (
            <Image
              src={Ford}
              alt={"Ford 2022"}
              quality={"low"}
              format={"avif"}
              loading={"eager"}
              class={" pt-1 cursor-pointer hidden lg:inline"}
            />
          )
        }
      </div>
      <div
        class="flex items-center space-x-2 md:space-x-4 w-full lg:w-1/3 md:justify-end"
      >
        {
          pathname === "/" ||
          pathname === "/home" ||
          pathname === "/registrar" ? (
            ""
          ) : (
            <Message />
          )
        }
        <Bell />
        <Shopping />
        {
          pathname === "/" ||
          pathname === "/home" ||
          pathname === "/registrar" ? (
            ""
          ) : (
            <Image
              src={Profile}
              alt={"profile"}
              loading={"eager"}
              class={" cursor-pointer h-10 w-fit hidden md:inline"}
            />
          )
        }
      </div>
    </section>
    <div class="flex sm:hidden items-center pl-4">
      <span class="text-black p-1 mt-1 border rounded-xl border-black"
        >Envíar a CP 42010</span
      >
    </div>
    <aside class="justify-evenly pt-2 items-center hidden md:flex">
      <div class="flex space-x-4">
        {navOptions.map((op) => <span class="cursor-pointer">{op}</span>)}
      </div>
      {
        pathname !== "/confirmBuy" &&
        pathname !== "/car" &&
        pathname !== "/buyPart" ? (
          <span class="cursor-pointer">Ingresar</span>
        ) : (
          ""
        )
      }
    </aside>
  </Container>
</nav>
