---
import Container from "@components/common/Container.astro";
import Burger from "@assets/icons/login/Burger.astro";
---

<nav class="pt-4">
  <Container className=" flex flex-row justify-between  items-center">
    <h4 class="uppercase font-extrabold text-3xl">Logo</h4>
    <Burger />
  </Container>
</nav>
