---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import LoginNavbar from "@components/Login/LoginNavbar.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description?: string;
}

const isHomePage = Astro.url.pathname === "/";
const isRegisterPage = Astro.url.pathname === "/registrar";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="mb.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-Fondo">
    {isHomePage ? <LoginNavbar /> : <Navbar />}
    <main>
      <slot />
    </main>
    {!isHomePage && !isRegisterPage && <Footer />}
  </body>
</html>
