---
import Navbar from "@components/Navbar.astro";
import LoginNavbar from "@components/Login/LoginNavbar.astro";
import ScreenSizeFooter from "@components/ScreenSizeFooter";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/twinkle-star";

interface Props {
  title: string;
  description?: string;
}

const isHomePage = Astro.url.pathname === "/";
const isRegisterPage = Astro.url.pathname === "/registrar";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="mb.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-Fondo font-inter">
    {isHomePage ? <LoginNavbar /> : <Navbar />}
    <main>
      <slot />
    </main>
    {!isHomePage && !isRegisterPage && <ScreenSizeFooter client:load />}
  </body>
</html>
